body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }
#content-container { display: block; position: relative; width: 1512px; width: 1512px; height: 982px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }
#_bg__frame_3 {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 982px;
	background:#;
}
#macbook_pro_14____1 {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 982px;
}
#_bg__macbook_pro_14____1_ek1 {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 982px;
	background:rgba(255,255,255,1);
}
#group_1 {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 56px;
}
#_bg__group_1_ek1 {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 56px;
	background:#;
}
#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 56px;
	background:rgba(255,255,255,1);
}
#frame_2 {
	top: 0px;
	left: 0px;
	width: 383px;
	height: 56px;
}
#_bg__frame_2_ek1 {
	top: 0px;
	left: 0px;
	width: 383px;
	height: 56px;
	background:rgba(255,255,255,1);
}
#be {
	top: 17.5px;
	left: 25.5px;
	width: 31.4px;
	height: 25.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 20.4px;
	text-align: left;
	line-height: 20.799999237061px;
	color:#000000;
}
#text {
	top: 17.5px;
	left: 53.5px;
	width: 13.4px;
	height: 25.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	line-height: 20.4px;
	text-align: left;
	line-height: 20.799999237061px;
	color:#000000;
}
#for_you_discover_livestreams_hire_jobs {
	top: 0px;
	left: 63.5px;
	width: 307.4px;
	height: 60.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	line-height: 55.4px;
	text-align: left;
	line-height: 20.799999237061px;
	color:#000000;
}
#segmented_picker {
	top: 4px;
	left: 1118.5px;
	width: 195.2px;
	height: 55px;
}
#_bg__segmented_picker_ek1 {
	top: 0px;
	left: 0px;
	width: 195.2px;
	height: 55px;
	background:#;
}
#button {
	top: 10.5px;
	left: 0px;
	width: 80.42px;
	height: 34px;
}
#_bg__button_ek1 {
	top: -1px;
	left: -1px;
	width: 80.42px;
	height: 34px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid #dee8ff;
	background:rgba(245,248,255,1);
}
#log_in {
	top: 10px;
	left: 19px;
	width: 45.3px;
	height: 18.3px;
	overflow: hidden;
	font-family: Inter;
	font-size: 13px;
	font-weight: bold;
	line-height: 13.3px;
	text-align: center;
	line-height: 14px;
	color:#0057FF;
}
#button_ek2 {
	top: 10.5px;
	left: 88.42px;
	width: 91.78px;
	height: 34px;
}
#_bg__button_ek3 {
	top: 0px;
	left: 0px;
	width: 91.78px;
	height: 34px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background:rgba(0,87,255,1);
}
#sign_up {
	top: 10px;
	left: 19px;
	width: 56.3px;
	height: 18.3px;
	overflow: hidden;
	font-family: Inter;
	font-size: 13px;
	font-weight: bold;
	line-height: 13.3px;
	text-align: center;
	line-height: 14px;
	color:#FFFFFF;
}
#frame {
	top: 22px;
	left: 1349px;
	width: 60px;
	height: 15.61px;
}
#_bg__frame_ek1 {
	top: 0px;
	left: 0px;
	width: 60px;
	height: 15.61px;
	background:#;
}
#vector {
	top: 3.69px;
	left: 23.44px;
	width: 8.25px;
	height: 8.83px;
}
#vector_ek1 {
	top: 2.96px;
	left: 31.88px;
	width: 6.29px;
	height: 9.7px;
}
#vector_ek2 {
	top: 5.68px;
	left: 39.18px;
	width: 6.66px;
	height: 6.98px;
}
#vector_ek3 {
	top: 2.96px;
	left: 46.92px;
	width: 6.24px;
	height: 9.7px;
}
#vector_ek4 {
	top: 5.68px;
	left: 53.86px;
	width: 6.12px;
	height: 6.98px;
}
#vector_ek5 {
	top: px;
	left: 11.14px;
	width: 6.52px;
	height: 15.61px;
}
#vector_ek6 {
	top: px;
	left: 0.02px;
	width: 6.53px;
	height: 15.61px;
}
#vector_ek7 {
	top: 5.75px;
	left: 5.99px;
	width: 7px;
	height: 9.86px;
}
#vector_ek8 {
	top: 22px;
	left: 1313px;
	width: 21px;
	height: 16px;
}
#slider_container {
	top: 16px;
	left: 1091px;
	width: 13px;
	height: 35px;
}
#_bg__slider_container_ek1 {
	top: 0px;
	left: 0px;
	width: 13px;
	height: 35px;
	background:#;
}
#slider_container_ek2 {
	top: 0px;
	left: 0px;
	width: 13px;
	height: 35px;
}
#_bg__slider_container_ek3 {
	top: 0px;
	left: 0px;
	width: 13px;
	height: 35px;
	background:#;
}
#slider {
	top: 9.61px;
	left: 0px;
	width: 13px;
	height: 15.79px;
}
#_bg__slider_ek1 {
	top: -10px;
	left: 0px;
	width: 13px;
	height: 15.79px;
	background:#;
}
#vector_ek9 {
	top: 14px;
	left: 5px;
	width: 3.71px;
	height: 1.86px;
}
#vector_ek10 {
	top: 0px;
	left: 0px;
	width: 13px;
	height: 13px;
}
#vector_ek11 {
	top: 14px;
	left: 5px;
	width: 3.71px;
	height: 1.86px;
}
#vector_ek12 {
	top: 0px;
	left: 0px;
	width: 13px;
	height: 13px;
}
#group_2 {
	top: 59px;
	left: 0px;
	width: 1512px;
	height: 163px;
}
#_bg__group_2_ek1 {
	top: -59px;
	left: 0px;
	width: 1512px;
	height: 163px;
	background:#;
}
#header {
	top: 0px;
	left: 0px;
	width: 1512px;
	height: 163px;
}
#frame_12 {
	top: 222px;
	left: 42px;
	width: 1428px;
	height: 397px;
}
#_bg__frame_12_ek1 {
	top: 0px;
	left: 0px;
	width: 1428px;
	height: 397px;
	background:#;
}
#frame_6 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
}
#_bg__frame_6_ek1 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
	background:#;
}
#div {
	top: 10px;
	left: 10px;
	width: 424px;
	height: 377px;
}
#_bg__div_ek1 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 377px;
	background:#;
}
#div_ek2 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
}
#_bg__div_ek3 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(242,242,242,1);
}
#div_ek4 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
}
#_bg__div_ek5 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:#;
}
#div_ek6 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(164,225,235,1);
}
#_7213d3165117335_y3jvccwxnjawldeyntesmcwxnzq_jpg {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
}
#_bg___7213d3165117335_y3jvccwxnjawldeyntesmcwxnzq_jpg_ek1 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:#;
}
#div_ek7 {
	top: 315px;
	left: 0px;
	width: 424px;
	height: 53px;
}
#_bg__div_ek8 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 53px;
	background:#;
}
#span {
	top: 0px;
	left: 0px;
	width: 206.36px;
	height: 45.39px;
}
#_bg__span_ek1 {
	top: 0px;
	left: 0px;
	width: 206.36px;
	height: 45.39px;
	background:#;
}
#_bg__a_ek1 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
	background:#;
}
#google_play_evergreen_libray {
	top: -1px;
	left: 0px;
	width: 219.55px;
	height: 24.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 19.4px;
	text-align: left;
	line-height: 18px;
	color:#191919;
}
#div_ek9 {
	top: 18.39px;
	left: 0px;
	width: 206.36px;
	height: 27px;
}
#_bg__div_ek10 {
	top: 0px;
	left: 0px;
	width: 206.36px;
	height: 27px;
	background:#;
}
#div_ek11 {
	top: 0px;
	left: 0px;
	width: 85px;
	height: 27px;
}
#_bg__div_ek12 {
	top: 0px;
	left: 0px;
	width: 85px;
	height: 27px;
	background:#;
}
#davy_evans {
	top: -1px;
	left: 0px;
	width: 96.99px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	line-height: 14.2px;
	text-align: left;
	line-height: 14.39999961853px;
	color:#191919;
}
#div_ek13 {
	top: 2px;
	left: 322.22px;
	width: 102.17px;
	height: 16px;
}
#_bg__div_ek14 {
	top: 0px;
	left: 0px;
	width: 102.17px;
	height: 16px;
	background:#;
}
#svg {
	top: -1.5px;
	left: 14px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek1 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek2 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek3 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek13 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#vector_ek14 {
	top: 1px;
	left: 0px;
	width: 15px;
	height: 14px;
}
#_99 {
	top: -0.8px;
	left: 34px;
	width: 28.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	line-height: 14.2px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#svg_ek2 {
	top: 0px;
	left: 62.77px;
	width: 16px;
	height: 16px;
}

#_bg__svg_ek3 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek4 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#_bg__frame_ek5 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek15 {
	top: 3.5px;
	left: 0.5px;
	width: 15.5px;
	height: 10px;
}
#_776 {
	top: -0.8px;
	left: 82.77px;
	width: 33.1px;
	height: 19.1px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	font-weight: bold;
	line-height: 14.1px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#frame_7 {
	top: 0px;
	left: 492px;
	width: 444px;
	height: 397px;
}
#_bg__frame_7_ek1 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
	background:#;
}
#div_ek15 {
	top: 10px;
	left: 10px;
	width: 424px;
	height: 377px;
}

#_bg__div_ek16 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 377px;
	background:#;
}
#div_ek17 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
}
#_bg__div_ek18 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(242,242,242,1);
}
#div_ek19 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
}
#_bg__div_ek20 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:#;
}
#div_ek21 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(164,225,235,1);
}
#b5100d184596691_1 {
	top: 3px;
	left: 1px;
	width: 424px;
	height: 307px;
}
#div_ek22 {
	top: 315px;
	left: 0px;
	width: 424px;
	height: 53px;
}
#_bg__div_ek23 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 53px;
	background:#;
}
#span_ek2 {
	top: 0px;
	left: 0px;
	width: 218.36px;
	height: 33.39px;
}

#_bg__span_ek3 {
	top: 0px;
	left: 0px;
	width: 218.36px;
	height: 33.39px;
	background:#;
}
#a_ek2 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
}
#_bg__a_ek3 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
	background:#;
}
#well_full {
	top: -1px;
	left: 0px;
	width: 219.55px;
	height: 24.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 19.4px;
	text-align: left;
	line-height: 18px;
	color:#191919;
}

#div_ek24 {
	top: 18.39px;
	left: 0px;
	width: 218.36px;
	height: 15px;
}

#_bg__div_ek25 {
	top: 0px;
	left: 0px;
	width: 218.36px;
	height: 15px;
	background:#;
}
#div_ek26 {
	top: 0px;
	left: 0px;
	width: 97px;
	height: 15px;
}

#_bg__div_ek27 {
	top: 0px;
	left: 0px;
	width: 97px;
	height: 15px;
	background:#;
}
#thomas_moeller {
	top: -1.39px;
	left: 0px;
	width: 109.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	line-height: 14.2px;
	text-align: left;
	line-height: 14.39999961853px;
	color:#191919;
}
#div_ek28 {
	top: 2px;
	left: 322.22px;
	width: 102.17px;
	height: 16px;
}

#_bg__div_ek29 {
	top: 0px;
	left: 0px;
	width: 102.17px;
	height: 16px;
	background:#;
}
#svg_ek4 {
	top: -1.5px;
	left: 14px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek5 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}

#frame_ek6 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#_bg__frame_ek7 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek16 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#vector_ek17 {
	top: 1px;
	left: 0px;
	width: 15px;
	height: 14px;
}
#_105 {
	top: -0.8px;
	left: 34px;
	width: 34.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	line-height: 14.2px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#svg_ek6 {
	top: 0px;
	left: 62.77px;
	width: 16px;
	height: 16px;
}

#_bg__svg_ek7 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek8 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek9 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek18 {
	top: 3.5px;
	left: 0.5px;
	width: 15.5px;
	height: 10px;
}
#_743 {
	top: -0.8px;
	left: 82.77px;
	width: 33.1px;
	height: 19.1px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	font-weight: bold;
	line-height: 14.1px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#frame_8 {
	top: 0px;
	left: 984px;
	width: 444px;
	height: 397px;
}
#_bg__frame_8_ek1 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
	background:#;
}
#div_ek30 {
	top: 10px;
	left: 10px;
	width: 424px;
	height: 377px;
}

#_bg__div_ek31 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 377px;
	background:#;
}
#div_ek32 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
}
#_bg__div_ek33 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(242,242,242,1);
}
#div_ek34 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
}

#_bg__div_ek35 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:#;
}
#div_ek36 {
	top: 0px;
	left: 0px;
	width: 424.39px;
	height: 307.33px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(164,225,235,1);
}
#_9b8d4b167056207_1 {
	top: 1px;
	left: -3px;
	width: 424px;
	height: 307px;
}
#div_ek37 {
	top: 315px;
	left: 0px;
	width: 424px;
	height: 53px;
}
#_bg__div_ek38 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 53px;
	background:#;
}
#span_ek4 {
	top: 0px;
	left: 0px;
	width: 230.36px;
	height: 33.39px;
}
#_bg__span_ek5 {
	top: 0px;
	left: 0px;
	width: 230.36px;
	height: 33.39px;
	background:#;
}
#a_ek4 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
}
#_bg__a_ek5 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
	background:#;
}
#studio_collections {
	top: -1px;
	left: 0px;
	width: 219.55px;
	height: 24.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 19.4px;
	text-align: left;
	line-height: 18px;
	color:#191919;
}
#div_ek39 {
	top: 18.39px;
	left: 0px;
	width: 230.36px;
	height: 15px;
}
#_bg__div_ek40 {
	top: 0px;
	left: 0px;
	width: 230.36px;
	height: 15px;
	background:#;
}

#div_ek41 {
	top: 0px;
	left: 0px;
	width: 109px;
	height: 15px;
}
#_bg__div_ek42 {
	top: 0px;
	left: 0px;
	width: 109px;
	height: 15px;
	background:#;
}
#multiple_owners {
	top: -1.39px;
	left: 0px;
	width: 164.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	line-height: 14.2px;
	text-align: left;
	line-height: 14.39999961853px;
	color:#191919;
}
#div_ek43 {
	top: 2px;
	left: 322.22px;
	width: 102.17px;
	height: 16px;
}
#_bg__div_ek44 {
	top: 0px;
	left: 0px;
	width: 102.17px;
	height: 16px;
	background:#;
}
#svg_ek8 {
	top: -1.5px;
	left: 14px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek9 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}

#frame_ek10 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#_bg__frame_ek11 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek19 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#vector_ek20 {
	top: 1px;
	left: 0px;
	width: 15px;
	height: 14px;
}
#_345 {
	top: -0.8px;
	left: 34px;
	width: 36.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	line-height: 14.2px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#svg_ek10 {
	top: 0px;
	left: 62.77px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek11 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek12 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek13 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek21 {
	top: 3.5px;
	left: 0.5px;
	width: 15.5px;
	height: 10px;
}
#_998 {
	top: -0.8px;
	left: 82.77px;
	width: 34.1px;
	height: 19.1px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	font-weight: bold;
	line-height: 14.1px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#frame_13 {
	top: 592px;
	left: 42px;
	width: 1428px;
	height: 397px;
}
#_bg__frame_13_ek1 {
	top: 0px;
	left: 0px;
	width: 1428px;
	height: 397px;
	background:#;
}
#frame_6_ek2 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
}
#_bg__frame_6_ek3 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
	background:#;
}
#div_ek45 {
	top: 10px;
	left: 10px;
	width: 424px;
	height: 377px;
}
#_bg__div_ek46 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 377px;
	background:#;
}
#div_ek47 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
}
#_bg__div_ek48 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(242,242,242,1);
}
#_0e4d44184657665_1 {
	top: 2px;
	left: -2px;
	width: 424px;
	height: 307px;
}
#div_ek49 {
	top: 315px;
	left: 0px;
	width: 424px;
	height: 53px;
}
#_bg__div_ek50 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 53px;
	background:#;
}
#span_ek6 {
	top: 0px;
	left: 0px;
	width: 277.36px;
	height: 33.39px;
}
#_bg__span_ek7 {
	top: 0px;
	left: 0px;
	width: 277.36px;
	height: 33.39px;
	background:#;
}
#a_ek6 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
}
#_bg__a_ek7 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
	background:#;
}
#still_life {
	top: -1px;
	left: 0px;
	width: 219.55px;
	height: 24.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 19.4px;
	text-align: left;
	line-height: 18px;
	color:#191919;
}
#div_ek51 {
	top: 18.39px;
	left: 0px;
	width: 277.36px;
	height: 15px;
}
#_bg__div_ek52 {
	top: 0px;
	left: 0px;
	width: 277.36px;
	height: 15px;
	background:#;
}
#div_ek53 {
	top: 0px;
	left: 0px;
	width: 156px;
	height: 15px;
}
#_bg__div_ek54 {
	top: 0px;
	left: 0px;
	width: 156px;
	height: 15px;
	background:#;
}
#muhammed_sajid {
	top: -1.39px;
	left: 0px;
	width: 158.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	line-height: 14.2px;
	text-align: left;
	line-height: 14.39999961853px;
	color:#191919;
}
#div_ek55 {
	top: 2px;
	left: 322.22px;
	width: 102.17px;
	height: 16px;
}
#_bg__div_ek56 {
	top: 0px;
	left: 0px;
	width: 102.17px;
	height: 16px;
	background:#;
}
#svg_ek12 {
	top: -1.5px;
	left: 14px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek13 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek14 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek15 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek22 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#vector_ek23 {
	top: 1px;
	left: 0px;
	width: 15px;
	height: 14px;
}
#_187 {
	top: -0.8px;
	left: 34px;
	width: 33.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	line-height: 14.2px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#svg_ek14 {
	top: 0px;
	left: 62.77px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek15 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek16 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek17 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek24 {
	top: 3.5px;
	left: 0.5px;
	width: 15.5px;
	height: 10px;
}
#_992 {
	top: -0.8px;
	left: 82.77px;
	width: 34.1px;
	height: 19.1px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	font-weight: bold;
	line-height: 14.1px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#frame_7_ek2 {
	top: 0px;
	left: 492px;
	width: 444px;
	height: 397px;
}

#_bg__frame_7_ek3 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
	background:#;
}
#div_ek57 {
	top: 10px;
	left: 10px;
	width: 424px;
	height: 377px;
}
#_bg__div_ek58 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 377px;
	background:#;
}
#div_ek59 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
}
#_bg__div_ek60 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(242,242,242,1);
}
#e9cc02149197661_1 {
	top: 2px;
	left: -5px;
	width: 424px;
	height: 307px;
}
#div_ek61 {
	top: 315px;
	left: 0px;
	width: 424px;
	height: 53px;
}
#_bg__div_ek62 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 53px;
	background:#;
}
#span_ek8 {
	top: 0px;
	left: 0px;
	width: 305.36px;
	height: 33.39px;
}
#_bg__span_ek9 {
	top: 0px;
	left: 0px;
	width: 305.36px;
	height: 33.39px;
	background:#;
}
#a_ek8 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
}
#_bg__a_ek9 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
	background:#;
}
#summer_illustrations {
	top: -1px;
	left: 0px;
	width: 219.55px;
	height: 24.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 19.4px;
	text-align: left;
	line-height: 18px;
	color:#191919;
}
#div_ek63 {
	top: 18.39px;
	left: 0px;
	width: 305.36px;
	height: 15px;
}
#_bg__div_ek64 {
	top: 0px;
	left: 0px;
	width: 305.36px;
	height: 15px;
	background:#;
}
#div_ek65 {
	top: 0px;
	left: 0px;
	width: 184px;
	height: 15px;
}
#_bg__div_ek66 {
	top: 0px;
	left: 0px;
	width: 184px;
	height: 15px;
	background:#;
}
#lara_paulissen {
	top: -1px;
	left: 0px;
	width: 96.99px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	line-height: 14.2px;
	text-align: left;
	line-height: 14.39999961853px;
	color:#191919;
}
#div_ek67 {
	top: 2px;
	left: 322.22px;
	width: 102.17px;
	height: 16px;
}
#_bg__div_ek68 {
	top: 0px;
	left: 0px;
	width: 102.17px;
	height: 16px;
	background:#;
}
#svg_ek16 {
	top: -1.5px;
	left: 14px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek17 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek18 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek19 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek25 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#vector_ek26 {
	top: 1px;
	left: 0px;
	width: 15px;
	height: 14px;
}
#_171 {
	top: -0.8px;
	left: 34px;
	width: 31.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	line-height: 14.2px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#svg_ek18 {
	top: 0px;
	left: 62.77px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek19 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek20 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek21 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek27 {
	top: 3.5px;
	left: 0.5px;
	width: 15.5px;
	height: 10px;
}
#_1_5k {
	top: -0.8px;
	left: 82.77px;
	width: 34.1px;
	height: 19.1px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	font-weight: bold;
	line-height: 14.1px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#frame_8_ek2 {
	top: 0px;
	left: 984px;
	width: 444px;
	height: 397px;
}
#_bg__frame_8_ek3 {
	top: 0px;
	left: 0px;
	width: 444px;
	height: 397px;
	background:#;
}
#div_ek69 {
	top: 10px;
	left: 10px;
	width: 424px;
	height: 377px;
}
#_bg__div_ek70 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 377px;
	background:#;
}
#div_ek71 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
}
#_bg__div_ek72 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 307px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:rgba(242,242,242,1);
}
#e2724d172805623_1 {
	top: 2px;
	left: 1px;
	width: 424px;
	height: 307px;
}
#div_ek73 {
	top: 315px;
	left: 0px;
	width: 424px;
	height: 53px;
}
#_bg__div_ek74 {
	top: 0px;
	left: 0px;
	width: 424px;
	height: 53px;
	background:#;
}
#span_ek10 {
	top: 0px;
	left: 0px;
	width: 225.36px;
	height: 33.39px;
}
#_bg__span_ek11 {
	top: 0px;
	left: 0px;
	width: 225.36px;
	height: 33.39px;
	background:#;
}
#a_ek10 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
}
#_bg__a_ek11 {
	top: 0px;
	left: 0px;
	width: 205.95px;
	height: 18px;
	background:#;
}
#nature_libray {
	top: -1px;
	left: 0px;
	width: 219.55px;
	height: 24.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	line-height: 19.4px;
	text-align: left;
	line-height: 18px;
	color:#191919;
}
#div_ek75 {
	top: 18.39px;
	left: 0px;
	width: 225.36px;
	height: 15px;
}
#_bg__div_ek76 {
	top: 0px;
	left: 0px;
	width: 225.36px;
	height: 15px;
	background:#;
}
#div_ek77 {
	top: 0px;
	left: 0px;
	width: 104px;
	height: 15px;
}
#_bg__div_ek78 {
	top: 0px;
	left: 0px;
	width: 104px;
	height: 15px;
	background:#;
}
#multiple_owners_ek1 {
	top: -1.39px;
	left: 0px;
	width: 163.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	line-height: 14.2px;
	text-align: left;
	line-height: 14.39999961853px;
	color:#191919;
}
#div_ek79 {
	top: 2px;
	left: 322.22px;
	width: 102.17px;
	height: 16px;
}
#_bg__div_ek80 {
	top: 0px;
	left: 0px;
	width: 102.17px;
	height: 16px;
	background:#;
}
#svg_ek20 {
	top: -1.5px;
	left: 14px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek21 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek22 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek23 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek28 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#vector_ek29 {
	top: 1px;
	left: 0px;
	width: 15px;
	height: 14px;
}
#_567 {
	top: -0.8px;
	left: 34px;
	width: 35.2px;
	height: 19.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	line-height: 14.2px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#svg_ek22 {
	top: 0px;
	left: 62.77px;
	width: 16px;
	height: 16px;
}
#_bg__svg_ek23 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#frame_ek24 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}
#_bg__frame_ek25 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background:#;
}
#vector_ek30 {
	top: 3.5px;
	left: 0.5px;
	width: 15.5px;
	height: 10px;
}
#_2_3k {
	top: -0.8px;
	left: 82.77px;
	width: 36.1px;
	height: 19.1px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	font-weight: bold;
	line-height: 14.1px;
	text-align: left;
	line-height: 15.60000038147px;
	color:#191919;
}
#material_symbols_mail {
	top: 0px;
	left: 1512px;
	width: 24px;
	height: 24px;
}
#_bg__material_symbols_mail_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background:#;
}




